.button-container {
	display: flex;
	justify-content: flex-end;
}

.action-buttons {
	display: flex;
}

.mat-table-lgr-setting {
	font-family: "Titillium Web", sans-serif !important;
}

.mat-header-lgr-colums {
	color: white !important;
	font-size: 12px !important;
	text-align: center !important;
}

.mat-header-lgr-desc {
	width: auto;
}

.ta-c {
	text-align: center;
}

.btnexportar {
	height: 24px;
	line-height: 10px !important;
	font-size: 12px;
	margin-top: 3px;
	background-color: green !important;
	color: white !important;
	margin-right: 2px !important;
}

.btnnuevo {
	 height: 24px;
	 line-height: 10px !important;
	 font-size: 12px;
	 margin-top: 3px;
 }


.mat-header-lgr-state {
	width: 100px;
}

.mat-header-lgr-acc {
	width: 100px !important;
}

tr.mat-header-lgr-row-st {
	height: 30px !important;
	background-color: #2b0d61 !important;
}

tr.mat-table-row-st {
	height: 30px !important;
}

tr.hover-element-lgr-row:hover {
	background: #e2e2e2;
}
.table-lgr-container {
	height: 400px !important;
	overflow: auto;
}
