.title-dialog{
	color: #2b0d61;
	font-size: 18px;
	font-weight: bold;
}

.subtitle-dialog{
	font-family: "Titillium Web", sans-serif !important;
	font-size: 12px;
}

.dividir-dialog{
	margin-bottom: 1em;
	margin-top: 1em;
}

.row-date-dialog{
	margin-bottom: 1em;
	margin-top: 1em;
}

.div-row{	
	height: 350px;
}

.mat-form-field, .mat-option, .mat-select, .mat-radio-button, .mat-expansion-panel-content  {
  font-size: 14px !important;
}

span {
	font-size: 14px !important;
	margin-left: 1em;
	margin-right: 1em;
}