.example-small-box,
.example-large-box {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 16px;
	padding: 16px;
	border-radius: 8px;
}

.viewport {
	height: 450px;
	width: 300px;
	background-color: aliceblue;
}
.rbsection {
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: bold;
}
.chk-white {
	background-color: white !important;
}
.mat-table-zone-left {
	font-family: "Titillium Web", sans-serif !important;
	width: 247px;
}
tr.mat-table-row-zone-st {
	height: 25px !important;
}
tr.mat-header-row-zone-st {
	height: 30px !important;
	background-color: #2b0d61 !important;
}
.mat-header-mmm {
	width: auto !important;
	color: white !important;
	font-size: 12px !important;
}
.mat-header-sele-zone-right {
	width: 35px !important;
	color: white !important;
	font-size: 12px !important;
}

.main_viewport {
	width: 300px;
}
.modal-title {
	font-size: 16px;
	text-transform: uppercase;
	color: #2b0d61;
	font-weight: bold;
}

.modal-title,
.mat-list-option {
	font-family: "Titillium Web", sans-serif !important;
}

.full-width{
	width: 100%;
}

.example-small-box {
	height: 100px;
	width: 100px;
}

.example-large-box {
	height: 300px;
	width: 300px;
}

.mat-list-option {
	font-family: "Titillium Web", sans-serif !important;
}

mat-list-option.mat-list-item.mat-list-option.ng-star-inserted {
	height: 17px;
	font-size: 14px;
}
