.agent-container {
	width: 23em;
	.mat-form-field {
		display: block;
	}
	padding-left: 10px;
	padding-right: 10px;
}

.agent-list {
	overflow-y: auto;
	height: 25em;
	border-style: solid;
	border-width: 1px;
}
.agent-description {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 10px !important;
}
.mat-list-base .mat-list-option {
	font-size: 12px;
}
.mat-list-base .mat-list-item,
.mat-list-base .mat-list-option {
	height: 35px;
}
.agent-spinner {
	position: relative;
	margin-top: 50%;
	margin-right: 50%;
}
