.list-title {
	margin-right: 5px;
	cursor: pointer;
}

.name-channel {
	color: grey;
	font-family: "Titillium Web", sans-serif !important;
}

.div-component-table{
	height: 400px;
}

.dividir-dialog{
	margin-bottom: 1em;
	margin-top: 1em;
}

.mat-raised-button {
	margin-right: 1em;
	margin-bottom: 1em;
}
