.btnexportar {
	height: 24px;
	line-height: 10px !important;
	font-size: 12px;
	margin-top: 3px;
	background-color: green !important;
	color: white !important;
	margin-right: 2px !important;
}

.btnnuevo {
	 height: 24px;
	 line-height: 10px !important;
	 font-size: 12px;
	 margin-top: 3px;
 }