<div class="table-container">
	<mat-table [dataSource]="dataSource"
	           mat-table>
		<ng-container matColumnDef="tariffRate">
			<mat-header-cell *matHeaderCellDef>Tasa del tarifario</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-select [value]="row.tariffRate">
					<mat-option *ngFor="let op of optionsType"
					            [value]="op.type">
						{{ row.description }} {{ op.desc }}
					</mat-option>
				</mat-select>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="type">
			<mat-header-cell *matHeaderCellDef>Tipo de aprobación</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-select [value]="row.type">
					<mat-option *ngFor="let op of types"
					            [value]="op">{{ op }}
					</mat-option>
				</mat-select>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="clientType">
			<mat-header-cell *matHeaderCellDef>Tipo de cliente</mat-header-cell>
			<mat-cell *matCellDef="let row">
				<mat-select [value]="row.clientType">
					<mat-option *ngFor="let op of clientTypes"
					            [value]="op">{{ op }}
					</mat-option>
				</mat-select>
			</mat-cell>
		</ng-container>

		<ng-container matColumnDef="actions">
			<mat-header-cell *matHeaderCellDef>Eliminar</mat-header-cell>
			<mat-cell *matCellDef="let data; let i = index">
				<button mat-icon-button
				        mat-sm-button
				        matTooltip="Eliminar"
				        color="warn"
				        (click)="removeItem(i)">
					<mat-icon>delete</mat-icon>
				</button>
			</mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
	</mat-table>

	<mat-paginator showFirstLastButtons
	               [pageSize]="pageSize"
	               [length]="data.length"
	               (page)="onPageChange($event)"></mat-paginator>
</div>

