<mat-card class="p-0">
	<mat-card-title class="">
		<div class="card-title-text">Políticas de suscripción</div>
		<mat-divider></mat-divider>
	</mat-card-title>
	<mat-tab-group (selectedTabChange)="navigate($event)">
		<mat-tab label="Tasas"></mat-tab>
		<mat-tab label="Ajuste de tasas"></mat-tab>
		<mat-tab label="Prima mínima"></mat-tab>
		<mat-tab label="Retroactividad"></mat-tab>
		<mat-tab label="Tipos de declaración"></mat-tab>
		<mat-tab label="Movimientos"></mat-tab>
		<mat-tab label="Corrección de datos"></mat-tab>
		<mat-tab label="Comisiones"></mat-tab>
		<mat-tab label="Agenciamiento"></mat-tab>
		<mat-tab label="Delimitación"></mat-tab>
	</mat-tab-group>
	<br>
	<mat-card-content>
		<router-outlet></router-outlet>
	</mat-card-content>
</mat-card>
