<form name="form" (ngSubmit)="f.form.valid && save()" #f="ngForm" novalidate>
	<div fxLayout="row wrap">
		<div fxFlex="100"><span mat-dialog-title class="modal-title">ASIGNAR COMISION, DESCUENTO Y FECHA FIN</span></div>
	</div>
	<mat-divider></mat-divider>
	<mat-dialog-content #cardcontent>
		<br />
		<div fxLayout="row wrap" fxLayoutAlign="center center">
			<div fxFlex="40" class="mgr" class="pr-1">
				<mat-form-field class="full-width">
					<input
						matInput
						id="iniVig"
						name="iniVig"
						[min]="minDate"
						[max]="maxDate"
						#iniVig="ngModel"
						[(ngModel)]="effectDate"
						placeholder="Fecha de inicio"
						[matDatepicker]="appDatepickerIni"
						(click)="appDatepickerIni.open()"
						required
					/>
					<mat-datepicker-toggle matSuffix [for]="appDatepickerIni" locale="es"></mat-datepicker-toggle>
				</mat-form-field>
				<mat-datepicker #appDatepickerIni></mat-datepicker>
			</div>
			<div fxFlex="40" class="mgr">
				<mat-form-field class="full-width">
					<input
						matInput
						id="finVig"
						name="finVig"
						[min]="effectDate"
						#finVig="ngModel"
						[(ngModel)]="endDate"
						placeholder="Fecha de fin"
						[matDatepicker]="appDatepickerFin"
						(click)="appDatepickerFin.open()"
					/>

					<mat-datepicker-toggle matSuffix [for]="appDatepickerFin" locale="es"></mat-datepicker-toggle>
				</mat-form-field>
				<mat-datepicker #appDatepickerFin></mat-datepicker>
			</div>
		</div>
		<div fxLayout="row wrap" fxLayoutAlign="center center">
			<div fxFlex="40" class="mgr" class="pr-1">
				<div>
					<mat-form-field class="full-width">
						<input
							matInput
							name="comision"
							id="comision"
							#comision="ngModel"
							placeholder="%Comision"
							[(ngModel)]="commission"
							[disabled]="directos"
						/>
						<!-- 	<button type="button" mat-button matSuffix mat-icon-button aria-label="Clear"></button> -->
					</mat-form-field>
				</div>
			</div>
			<div fxFlex="40" class="mgr">
				<div>
					<mat-form-field class="full-width">
						<input
							matInput
							name="descuento"
							id="descuento"
							#comision="ngModel"
							placeholder="%Descuento"
							[(ngModel)]="discount"
							[disabled]="directos"
						/>
						<!-- 	<button type="button" mat-button matSuffix mat-icon-button aria-label="Clear">X</button> -->
					</mat-form-field>
				</div>
			</div>
		</div>
		<mat-divider></mat-divider>
		<div *ngIf="!directos">
			<div fxLayout="row wrap">
				<div fxFlex="100"><span mat-dialog-title class="modal-title">ASIGNAR DISTRIBUCION DE COMISION</span></div>
			</div>
			<!--<cdk-virtual-scroll-viewport itemSize="10" class="example-viewport">-->
			<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width mat-table-setting">
				<ng-container matColumnDef="rol">
					<th mat-header-cell *matHeaderCellDef class="mat-header-colums mat-header-desc">Rol</th>
					<td mat-cell *matCellDef="let element">{{ element.item }}</td>
					<td mat-footer-cell *matFooterCellDef class="total" style="text-align: right">Total</td>
				</ng-container>

				<ng-container matColumnDef="distribucion">
					<th mat-header-cell *matHeaderCellDef class="mat-header-colums mat-header-inivig">%Distribucion</th>
					<td mat-cell *matCellDef="let element" class="ta-c">
						<mat-form-field floatLabel="never">
							<input
								matInput
								placeholder="Value"
								type="number"
								min="0"
								max="100"
								[value]="element.cost"
								[(ngModel)]="element.cost"
								[ngModelOptions]="{ standalone: true }"
							/>
						</mat-form-field>
					</td>
					<td mat-footer-cell *matFooterCellDef class="sumatoria" style="text-align: center">{{ getTotalCost() }}</td>
				</ng-container>

				<tr mat-header-row *matHeaderRowDef="displayedColumns" class="mat-header-row-st"></tr>
				<tr mat-row *matRowDef="let row; columns: displayedColumns" class="mat-table-row-st zone-item text-left">
					<div class="container-placeholder"></div>
				</tr>
				<tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
			</table>
		</div>
		<!--</cdk-virtual-scroll-viewport>-->
	</mat-dialog-content>
	<mat-dialog-actions align="center">
		<button mat-raised-button color="primary" mat-dialog-close>Cancelar</button>
		<button type="submit" mat-raised-button [disabled]="!f.form.valid || getTotalCost() !== 100" color="primary" cdkFocusInitial>
			Agregar
		</button>
	</mat-dialog-actions>
</form>
