.modal-title {
	font-size: 16px;
	text-transform: uppercase;
	color: #2b0d61;
	font-weight: bold;
}

.btnlistacanal,
.btnagregarcanal {
	height: 24px;
	line-height: 10px !important;
	font-size: 12px;
	margin-top: 3px;
	background-color: #2b0d61 !important;
	color: white !important;
}

.btnlistacanal {
	margin-right: 3px !important;
}

.example-viewport-fee-assoc {
	height: 325px;
	width: 100%;
	border: 1px solid black;
	overflow-x: hidden !important;
}

.mat-dialog-title {
	margin: 0 0 1px !important;
}

tr.mat-header-row-st-fee-assoc {
	height: 30px !important;
	background-color: #2b0d61 !important;
}

tr.hover-element-row-fee-assoc:hover {
	background: #e2e2e2;
}

.mat-table-setting-fee-assoc {
	font-family: "Titillium Web", sans-serif !important;
}

.mat-header-colums-fee-assoc {
	color: white !important;
	font-size: 10px !important;
	text-align: center !important;
}

.mat-cell {
	font-size: 11px !important;
}

.mat-header-desc-fee-assoc {
	width: auto;
}

.mat-header-inivig-fee-assoc {
	width: 70px !important;
}

.mat-header-finvig-fee-assoc {
	width: 70px;
}

.mat-header-del-fee-assoc {
	width: 75px;
}

.mat-header-type-fee-assoc {
	width: 45px;
}

.mat-header-acc-fee-assoc {
	width: 100px;
}

tr.mat-table-row-st-fee-assoc {
	height: 25px !important;
}

.ta-c {
	text-align: center;
}

.mat-menu-item {
	line-height: 31px !important;
	height: 31px !important;
}

.tariff-hijo {
	color: green !important;
}

.tariff-clone {
	color: rgb(62, 63, 3) !important;
}

.mat-menu-item:hover:not([disabled]) {
	background: #e2e2f0 !important;
	text-decoration: underline;
}

.table-container {
	overflow: auto;
}
