<mat-card class="p-0">
	<mat-card-title class="">
		<div class="card-title-text">ZONAS DE CIRCULACION</div>
		<mat-divider></mat-divider>
	</mat-card-title>
	<mat-card-content #cardcontent>
		<!-- <form #formElement> -->
		<div fxLayout="row wrap" fxLayoutAlign="center center">
			<div fxFlex="100" fxFlex.gt-xs="30" class="pr-1">
				<div>
					<mat-form-field class="full-width">
						<input matInput name="description" placeholder="Filtrar zonas" value="" [formControl]="descriptionFilter" />
						<button
							mat-button
							matSuffix
							mat-icon-button
							aria-label="Clear"
							*ngIf="filteredValues.descripcion !== ''"
							(click)="descriptionFilter.reset(); filteredValues.descripcion = ''"
						>
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
				</div>
			</div>

			<div fxFlex="100" fxFlex.gt-xs="20">
				<div>
					<mat-form-field class="full-width" class="pr-1">
						<mat-select placeholder="Estado" name="estado" [formControl]="stateFilter">
							<mat-option value="">Todos</mat-option>
							<mat-option value="true">Activo</mat-option>
							<mat-option value="false">Inactivo</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<div fxFlex="100" fxFlex.gt-xs="20">
				<div>
					<mat-form-field class="full-width">
						<mat-select placeholder="En uso" name="enuso" [formControl]="enusoFilter">
							<mat-option value="">Todos</mat-option>
							<mat-option value="true">SI</mat-option>
							<mat-option value="false">NO</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>

			<div fxFlex="100" fxFlex.gt-xs="20" class="pr-1">
				<div fxLayoutAlign="end center">
					<button (click)="openZonePicker(true)" mat-raised-button color="primary" class="btnnuevo">
						<mat-icon class="exporticon">add</mat-icon>
						<span>Nueva zona</span>
					</button>
				</div>
			</div>
		</div>

		<div fxLayout="row wrap" class="pb-1"></div>
		<div fxLayout="row wrap">
			<div fxFlex="100">
				<div class="table-container">
					<table
						mat-table
						#table
						[dataSource]="dataSource"
						class="mat-elevation-z8 full-width mat-table-setting zone-list"
						cdkDropList
						[cdkDropListData]="dataSource"
						(cdkDropListDropped)="dropTable($event)"
					>
						<ng-container matColumnDef="description">
							<th mat-header-cell *matHeaderCellDef class="mat-header-colums mat-header-desc">Departamentos</th>
							<td mat-cell *matCellDef="let element">{{ ubigeosDescript(element) }}</td>
						</ng-container>

						<ng-container matColumnDef="groupdescription">
							<th mat-header-cell *matHeaderCellDef class="mat-header-colums mat-header-group">Descripci&oacute;n Grupal</th>
							<td mat-cell *matCellDef="let element">{{ element.description }}</td>
						</ng-container>

						<ng-container matColumnDef="active">
							<th mat-header-cell *matHeaderCellDef class="mat-header-colums mat-header-state">Estado</th>
							<td mat-cell *matCellDef="let element" class="ta-c">
								<mat-slide-toggle class="example-margin" [checked]="element.active" (click)="enableOrDisable(element)"> </mat-slide-toggle>
							</td>
						</ng-container>

						<ng-container matColumnDef="used">
							<th mat-header-cell *matHeaderCellDef class="mat-header-colums mat-header-uso">En uso</th>
							<td mat-cell *matCellDef="let element" class="ta-c">{{ element.used ? "Si" : "No" }}</td>
						</ng-container>

						<ng-container matColumnDef="actions">
							<th mat-header-cell *matHeaderCellDef class="mat-header-colums mat-header-acc">Acciones</th>
							<td mat-cell *matCellDef="let element" class="ta-c">
								<button *ngIf="!element.used" mat-icon-button matTooltip="Editar" mat-sm-button color="primary" class="mr-1" (click)="edit(element)">
									<mat-icon>edit</mat-icon>
								</button>
								<button [disabled]="element.used" mat-icon-button matTooltip="Eliminar" mat-sm-button color="warn" (click)="delete(element.id)">
									<mat-icon>delete</mat-icon>
								</button>
							</td>
						</ng-container>

						<tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true" class="mat-header-row-st"></tr>
						<tr mat-row *matRowDef="let row; columns: displayedColumns" class="mat-table-row-st zone-item" cdkDrag [cdkDragData]="row">
							<div class="container-placeholder" *cdkDragPlaceholder></div>
						</tr>
					</table>
				</div>
			</div>
		</div>
		<!-- 	</form> -->
	</mat-card-content>
</mat-card>
