/* You can add global styles to this file, and also import other style files */

/* @import "~handsontable/dist/handsontable.full.css";

.handsontable {
	font-family: monospace;
	font-size: 11px;
}

.handsontable table thead th {
	white-space: pre-line;
	vertical-align: middle;
	font-weight: bold;
}
 */