<mat-dialog-content [formGroup]="form">
	<mat-card-title>
		<div class="card-title-text">Definir rango de días</div>
	</mat-card-title>

	<mat-form-field appearance="standard"
	                class="range-type">
		<mat-label>Tipo de rango</mat-label>
		<mat-select formControlName="range">
			<mat-option value="()"> (EXCLUIR;EXCLUIR)</mat-option>
			<mat-option value="(]"> (EXCLUIR;INCLUIR]</mat-option>
			<mat-option value="[)"> [INCLUIR;EXCLUIR)</mat-option>
			<mat-option value="[]"> [INCLUIR;INCLUIR]</mat-option>
		</mat-select>
	</mat-form-field>

	<div class="group">
		<span class="range">{{ range[0] }}</span>
		<mat-form-field appearance="standard"
		                floatLabel="always">
			<mat-label>Valor mínimo</mat-label>
			<input class="value-range"
			       matInput
			       placeholder="Valor mínimo"
			       OnlyNumber
			       formControlName="min">
		</mat-form-field>
		<span class="separator">:</span>
		<mat-form-field appearance="standard"
		                floatLabel="always">
			<mat-label>Valor máximo</mat-label>
			<input class="value-range"
			       matInput
			       placeholder="Valor máximo"
			       OnlyNumber
			       formControlName="max">
		</mat-form-field>
		<span class="range">{{ range[1] }}</span>
	</div>

	<div fxLayout="row"
	     fxLayoutAlign="center center"
	     fxLayoutGap="1rem">
		<button mat-raised-button
		        type="button"
		        color="accent"
		        (click)="close()">
			Cancelar
		</button>
		<button type="button"
		        mat-raised-button
		        color="primary"
		        [disabled]="form.invalid"
		        (click)="onSubmit()">
			Aplicar
		</button>
	</div>
</mat-dialog-content>
