<mat-dialog-content [formGroup]="form">
	<mat-card-title>
		<div class="card-title-text">Definir rango de días</div>
	</mat-card-title>
	<mat-select placeholder="Tipo de rango"
	            formControlName="range">
		<mat-option value="()"> (EXCLUIR;EXCLUIR)</mat-option>
		<mat-option value="(]"> (EXCLUIR;INCLUIR)</mat-option>
		<mat-option value="[)"> (INCLUIR;EXCLUIR)</mat-option>
		<mat-option value="[]"> (INCLUIR;INCLUIR)</mat-option>
	</mat-select>

	<div class="group">
		{{ range[0] }}
		<mat-form-field label="Valor mínimo">
			<input matInput
			       placeholder="Valor mínimo"
			       OnlyNumber
			       formControlName="min">
		</mat-form-field>
		<span>:</span>
		<mat-form-field label="Valor máximo">
			<input matInput
			       placeholder="Valor máximo"
			       OnlyNumber
			       formControlName="max">
		</mat-form-field>
		{{ range[1] }}
	</div>

	<div fxLayout="row"
	     fxLayoutAlign="center center"
	     fxLayoutGap="1rem">
		<button mat-raised-button
		        type="button"
		        color="accent"
		        (click)="close()">
			Cancelar
		</button>
		<button type="button"
		        mat-raised-button
		        color="primary"
		        [disabled]="form.invalid"
		        (click)="onSubmit()">
			Aplicar
		</button>
	</div>
</mat-dialog-content>
